:root {
  --primary: rgb(48,144,226);
  --secondary: rgb(226, 125, 48);
  --deemphasized1: rgb(155, 155, 155);
  --deemphasized2: rgb(206, 206, 206);
  --deemphasized3: rgb(243, 243, 243);
}

/* header */
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
#new-question{
    padding-left: 100px;
}
#form-header{
  font-size: 18px;
  }
  .form-instructions {
    font-size: 14px;
  }
  #qTitle{
    font-size: 15px;
    height: 38px; 
    width: 350px;
  }
  #qText, #qSummary{
    font-size: 15px;
    height:50px; 
    width: 350px;
  }
  #qTags{
    font-size: 15px;
    height: 35px;
    width: 350px;
  }
  #qUsername{
    font-size: 15px;
    height: 35px;
    width: 350px;
  }
  #post-btn {
    width: 8em;
    padding: 10px;
    justify-self: end;
    font-size: 18px;
    background-color: rgb(48,144,226);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
  }
  #mandatory{
    margin-left: 12px;
    color:darkred;
    font-size: 16px;
    display: inline-block;
  }
  #new-answer{
    padding-left: 100px;
  }
  #aUsername{
    font-size: 20px;
    height: 38px; 
    width: 350px;
  }
  #aText{
    font-size: 18px;
    height:200px; 
    width: 350px;
  }
  #post-ans {
    width: 8em;
    padding: 10px;
    justify-self: end;
    font-size: 16px;
    background-color: rgb(48,144,226);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
  }
  #tags-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 40px 40px;
    font-size: 20px;
  }
  #tags-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    margin: 0 6%;
    justify-items: center;
  }
  .tag-box {
    border: 1px dashed black;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    width: 13em;
  }
  .tag-box-link {
    color: rgb(67, 126, 228);
    text-decoration: underline;
    font-weight: bold;
  }
  .tag-box:hover {
    background-color: rgb(227, 227, 227);
    transition: background-color, 0.5s;
    cursor: pointer;
  }

/* main content */
.main-content {
  padding: 10vh 10vw 0 10vw;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* answers page */
.qAnsInfo {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 10% 60% auto;
  grid-template-rows: auto auto;
  column-gap: 5%; 
  row-gap: 40px;
  align-items: center;
  border-bottom: 1px dashed black;
}
.qAnsCount, .qAnsViews {
  margin-left: 40px;
}
.q-vote-buttons, .a-vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.q-upvote-btn, .q-downvote-btn {
  width: 90px;
  margin-bottom: 10px;
}
.ans-page-tags{
  display:block;
  width: 800px;
}
.qAnsMeta {
  margin-right: 40px;
  margin-bottom: 1.5em;
  align-self: end;
}
.qAnsUser {
  color: red;
}
.ansAndComments{
  border-bottom: 1px dashed black;
}
.qAnsStyle {
  display: flex;
  align-items: center;
}
.a-upvote-btn, .a-downvote-btn{
  width: 90px;
  margin-bottom: 10px;
  margin-left: 24px;
  margin-top: 10px;
}
.ansTextStyle {
  margin: 15px 40px 15px 15px;
  padding: 20px;
  width: 800px;
}
.aUser {
  color: green;
}
.comments-pagination{
  padding-top: 10px;
  padding-bottom: 10px;
}
.a-comments-container{
  padding-left: 150px;
  padding-bottom: 10px;
}
.q-comments-container{
  padding-left: 200px;
  padding-bottom: 10px;
  width: 800px;
}
.q-comment-item{
  display: flex;
}
.comment-metadata{
  margin-left: 10px;
}
.cUser{
  color: rgb(0, 180, 240);
}
.cTime{
  color: lightgrey;
}
.cVotes{
  margin-right: 15px;
}
.ans-pagination{
  padding-left: 10px;
  padding-bottom: 10px;
}
.answer-btn {
  width: 10em;
  padding: 10px;
  margin-left: 40px;
  font-size: 18px;
  background-color: rgb(48,144,226);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
.ask-btn:hover, .answer-btn:hover, .post-btn:hover {
  background-color: rgb(38, 113, 178);
  transition: background-color 0.4s ease-in-out;
}
#answers-container {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}