.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-top: 3px solid var(--secondary);
  border-bottom: 1px solid var(--deemphasized2);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03 );
  
}
.header-title {
  margin: 0 0 0 10px;
  font-size: 22px;
  font-weight: normal;
  width: 9.5em;
  padding: 0;
  margin: 0; 
  background-color: transparent;
  border: none; 
}
.header-title:hover {
  color: var(--secondary);
  transition: color 150ms ease-in-out;
}
#search {
  justify-self: center;
  padding: 2px 15px;
  font-size: 16px;
  width: 100%;
  height: 1.5em;
  border: 1px solid var(--deemphasized1);
  border-radius: 7px;
}
#search:focus {
  outline-color: var(--primary);
}
.nav-buttons {
  justify-self: center;
}
.white-button, .blue-button {
  padding: 8px 12px;
  font-weight: bold;
  border: 1.5px solid var(--primary);
  border-radius: 4px;
}
.white-button {
  background-color: white;
  color: var(--primary);
}
.white-button:hover {
  background-color:  rgba(48,144,226, 0.3);
  transition: background-color, 0.15s, ease-in-out;
}
.blue-button {
  background-color: var(--primary);
  color: white;
}
.blue-button:hover {
  background-color: var(--primary);
  transition: background-color, 0.15s, ease-in-out;
}
.header-title, .white-button, .blue-button {
  cursor: pointer;
}